---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagefind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <noscript>
      <style>
        .animate{
          opacity:1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <Header />
    <main class="bg-skew">
      <slot />
    </main>
    <Footer />
    <Pagefind />
  </body>
</html>

<style>
  .bg-skew:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
    background-color: #ececec;
    min-height: 500px;
  }
</style>
